.overlay {
  position: fixed;
  inset: 0px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000000b8;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.modal {
  position: relative;
  border-radius: 16px;
  background-color: white;
  outline: none;
}
