@import "/src/assets/styles/Variables";

.size64 {
  min-height: 64px;
  padding-top: 8px;
  .input-container {
    height: 38px;
  }

  & label {
    font-size: 10px;
    font-weight: 400;
  }
  & input {
    font-size: 12px;
    font-weight: 400;
    min-height: 38px;
    border-radius: 12px;
  }
  .info {
    height: 18px;
  }
}
.size80 {
  min-height: 80px;
  padding-top: 10px;
  .input-container {
    height: 48px;
  }

  & label {
    font-size: 12px;
    font-weight: 400;
  }
  & input {
    border-radius: 16px;
    min-height: 48px;
    font-size: 14px;
    font-weight: 400;
  }
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .input-container {
    position: relative;
  }
  .btn-box {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
  .logo {
    top: 50%;
    display: flex;
    align-items: center;
    direction: ltr;

    position: absolute;
    transform: translateY(-50%);
    left: 12px;
  }
  .icons-box {
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;

    direction: ltr;
    position: absolute;
    transform: translateY(-50%);
    left: 12px;

    &--with-logo {
      left: 34px;
    }
  }
  .info-box {
    display: flex;
    flex-direction: row;
    justify-content: end;
    .info {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      gap: 4px;
      font-size: 12px;
      P {
        margin: 0;
        align-self: normal;
      }
    }
    .counter {
      font-size: 12px;
      font-weight: 400;
      color: $Storm-7;
      text-align: left;
    }
  }
  .error {
    color: $Error-500;
  }
  .success {
    color: $Storm-7;
  }
  .guideline {
    color: $Storm-7;
  }
  & input:disabled {
    border: 1px solid $Storm-3 !important;
    background-color: white !important;
    color: $Storm-3;
  }
  & input:disabled::placeholder {
    color: #cecece;
  }
  & input {
    position: relative;
    border: 1px solid #9ab0bc;
    padding-inline: 20px;
    outline: none;
    width: 100%;
  }
  & label {
    cursor: text;
    color: $Storm-8;
    background-color: transparent;
    padding-inline: 4px;
    position: absolute;
    border-radius: 16px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
  }
  & input:focus ~ label {
    color: $Storm-8;
    background-color: $White;
    top: 0%;
    padding-inline: 5px;
  }
  & input:not([placeholder=""]) ~ label {
    color: $Oil-8;
    background-color: $White;
    top: 0%;
    padding-inline: 5px;
  }
  & input:focus {
    border: 1px solid $Oil-9;
    // caret-color: transparent;
  }
}

.error-border {
  & input {
    border-color: $InfraRed-6 !important;
  }
}
.onClear-box {
  position: absolute;
  height: 14px;
  width: 14px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -4px;
  z-index: 101;
}
.ltr {
  .icons-box {
    left: initial;
    right: 12px;
    direction: rtl;
    z-index: 100;
  }
  & input {
    direction: ltr !important;
  }
}
.ltr-with-icons {
  & input ~ label {
    // right: 28px;
    color: #525252;
    background-color: $White;
    padding-inline: 5px;
  }
}

.entered {
  & input ~ label {
    color: #525252;
    background-color: $White;
    top: 0;
    padding-inline: 5px;
  }
  & input:focus {
    caret-color: black;
  }
  // & input ~ span {
  //   color: #3b3b3b;
  // }
}

.with-logo {
  & input {
    padding-left: 40px;
  }
}
// ADDITION CLASSES
.filter-textbox {
  max-width: 50%;
}
