//NEW COLOR PALLETE

//basic color
$White: #ffffff;
$Black: #000000;

$Green-1: #e6f0e7;
$Green-2: #c3dcc6;
$Green-3: #94c09a;
$Green-4: #62a26a;
$Green-5: #32863d;
$Green-6: #056c13;
$Green-7: #045c10;
$Green-8: #044d0d;
$Green-9: #033e0b;
$Green-10: #023109;

$Gray-1: #f0f1f3;
$Gray-2: #dadde2;
$Gray-3: #bdc2cb;
$Gray-4: #9fa5b2;
$Gray-5: #828a9b;
$Gray-6: #667085;
$Gray-7: #575f71;
$Gray-8: #48505e;
$Gray-9: #3a404c;
$Gray-10: #2e323c;

$Orange-1: #fff2ed;
$Orange-2: #ffdfd4;
$Orange-3: #ffc5b2;
$Orange-4: #feaa8e;
$Orange-5: #fe906b;
$Orange-6: #fe784b;
$Orange-7: #d86640;
$Orange-8: #b45535;
$Orange-9: #91442b;
$Orange-10: #723622;

$Info-50: #eaf2f8;
$Info-100: #bed5eb;
$Info-200: #9fc1e1;
$Info-300: #73a5d3;
$Info-400: #5893ca;
$Info-500: #2e78bd;
$Info-600: #2a6dac;
$Info-700: #215586;
$Info-800: #194268;
$Info-900: #13324f;

$Error-50: #fdeaea;
$Error-100: #f9bcbc;
$Error-200: #f79c9c;
$Error-300: #f36f6f;
$Error-400: #f15353;
$Error-500: #ed2828;
$Error-600: #d82424;
$Error-700: #a81c1c;
$Error-800: #821616;
$Error-900: #641111;

$Success-50: #edfbf1;
$Success-100: #c6f2d2;
$Success-200: #aaebbd;
$Success-300: #84e29f;
$Success-400: #6cdd8c;
$Success-500: #47d46f;
$Success-600: #41c165;
$Success-700: #32974f;
$Success-800: #27753d;
$Success-900: #1e592f;

$Warning-50: #fffae8;
$Warning-100: #fdefb7;
$Warning-200: #fde894;
$Warning-300: #fcdd63;
$Warning-400: #fbd645;
$Warning-500: #facc16;
$Warning-600: #e4ba14;
$Warning-700: #b29110;
$Warning-800: #8a700c;
$Warning-900: #695609;

$Tag-1-BG: #f5f5f5;
$Tag-2-BG: #f5feed;
$Tag-3-BG: #e6f4ff;
$Tag-4-BG: #fff2f0;
$Tag-5-BG: #fff7e6;
$Tag-6-BG: #fffbe6;
$Tag-7-BG: #e6fffb;
$Tag-8-BG: #f9f0ff;

$Tag-1-Border: #d9d9d9;
$Tag-2-Border: #b7eb8f;
$Tag-3-Border: #91caff;
$Tag-4-Border: #ffccc7;
$Tag-5-Border: #ffd591;
$Tag-6-Border: #ffe58f;
$Tag-7-Border: #87e8de;
$Tag-8-Border: #d3adf7;

$Tag-1-Text: #65676a;
$Tag-2-Text: #389e0d;
$Tag-3-Text: #1677ff;
$Tag-4-Text: #ff4d4f;
$Tag-5-Text: #d46b08;
$Tag-6-Text: #faad14;
$Tag-7-Text: #08979c;
$Tag-8-Text: #531dab;

$Error: #ed2828;

//new design system

$Storm-1: #fcfdfd;
$Storm-2: #f6f8f9;
$Storm-3: #e0e7eb;
$Storm-4: #c2cfd6;
$Storm-5: #9ab0bc;
$Storm-6: #668899;
$Storm-7: #54707d;
$Storm-8: #415762;
$Storm-9: #2f3f46;
$Storm-10: #1d262b;
$Storm-11: #0a0e0f;

$Sky-1: #fafcff;
$Sky-2: #f0f7ff;
$Sky-3: #cce4ff;
$Sky-4: #99caff;
$Sky-5: #57a8ff;
$Sky-6: #007bff;
$Sky-7: #0065d1;
$Sky-8: #004fa3;
$Sky-9: #003975;
$Sky-10: #002247;
$Sky-11: #000c19;

$Twiligt-1: #f9fefd;
$Twiligt-2: #f2fcfc;
$Twiligt-3: #d4f7f4;
$Twiligt-4: #aaeee9;
$Twiligt-5: #f9fefe;
$Twiligt-6: #2ad5c6;
$Twiligt-7: #23afa3;
$Twiligt-8: #1b887f;
$Twiligt-9: #13625c;
$Twiligt-10: #0c3c37;
$Twiligt-11: #041413;

$UltraViolet-1: #fdfaff;
$UltraViolet-2: #f7f0fe;
$UltraViolet-3: #e6cffc;
$UltraViolet-4: #cc9efa;
$UltraViolet-5: #ab5ff6;
$UltraViolet-6: #7f0df1;
$UltraViolet-7: #680ac6;
$UltraViolet-8: #52089b;
$UltraViolet-9: #3b066f;
$UltraViolet-10: #240344;
$UltraViolet-11: #0d0118;

$Secondary-1: #fffefa;
$Secondary-2: #fefaef;
$Secondary-3: #fbf0d0;
$Secondary-4: #f7e2a1;
$Secondary-5: #f2cf63;
$Secondary-6: #ebb513;
$Secondary-7: #c0940f;
$Secondary-8: #96740c;
$Secondary-9: #6c5309;
$Secondary-10: #423305;
$Secondary-11: #171202;

$InfraRed-1: #fef9fa;
$InfraRed-2: #fdf0f3;
$InfraRed-3: #f9d2d9;
$InfraRed-4: #f2a6b3;
$InfraRed-5: #ea6c80;
$InfraRed-6: #df2040;
$InfraRed-7: #b71a34;
$InfraRed-8: #8f1428;
$InfraRed-9: #650e1d;
$InfraRed-10: #3d0912;
$InfraRed-11: #160306;

$Primary-1: #fbfdfc;
$Primary-2: #f4fbf6;
$Primary-3: #d9f2e1;
$Primary-4: #b2e6c3;
$Primary-5: #81d59d;
$Primary-6: #40bf6a;
$Primary-7: #349d57;
$Primary-8: #297a44;
$Primary-9: #1d5830;
$Primary-10: #12361e;
$Primary-11: #06130b;

$Fire-1: #fffdfa;
$Fire-2: #fff7f0;
$Fire-3: #fee5cd;
$Fire-4: #fccc9c;
$Fire-5: #fbab5b;
$Fire-6: #f87f06;
$Fire-7: #cc6805;
$Fire-8: #9b5108;
$Fire-9: #723a03;
$Fire-10: #462302;
$Fire-11: #190d01;

$Wood-1: #fefbf9;
$Wood-2: #fcf7f3;
$Wood-3: #f5e3d6;
$Wood-4: #ebc7ad;
$Wood-5: #dda278;
$Wood-6: #cc7333;
$Wood-7: #a75e2a;
$Wood-8: #834a21;
$Wood-9: #5e3417;
$Wood-10: #39200e;
$Wood-11: #140b05;

$Ocean-1: #f9fbfe;
$Ocean-2: #f3fafc;
$Ocean-3: #d6f0f5;
$Ocean-4: #ade0eb;
$Ocean-5: #78cddd;
$Ocean-6: #33b3cc;
$Ocean-7: #2a93a7;
$Ocean-8: #217283;
$Ocean-9: #17525e;
$Ocean-10: #0e3239;
$Ocean-11: #051113;

$Oil-1: #fdfdfd;
$Oil-2: #f7f7f7;
$Oil-3: #e5e5e5;
$Oil-4: #cccccc;
$Oil-5: #ababab;
$Oil-6: #808080;
$Oil-7: #696969;
$Oil-8: #525252;
$Oil-9: #3b3b3b;
$Oil-10: #242424;
$Oil-11: #0d0d0d;

$Soil-1: #fdfcfb;
$Soil-2: #faf8f5;
$Soil-3: #eee7dd;
$Soil-4: #decfba;
$Soil-5: #c8b08d;
$Soil-6: #ac8753;
$Soil-7: #8d6f44;
$Soil-8: #6e5635;
$Soil-9: #4f3e26;
$Soil-10: #302617;
$Soil-11: #110d08;

$Success: #40bf6a;
$Warning: #f87f06;
$Error: #df2040;

//************************************************************************************************
//old color // not used

$darkishGreenTwo: #1c6d3e;
$greyish: #a5a5a5;
$warmGrey-Three: #9f9f9f;
$white-Five: #dbdbdb;
$mango: #fabc2c;
$white-Eleven: #e0e0e0;
$light-sage-Two: #d9f4e0;
$disabledGreen: #cbe2d1;

// standard colors

// Green
$Green-Light1: #fcfffd;
$Green-Light2: #f5fff8; //ice
// $Green-Light3: #e4f6e9; //lightSage
$Green-Light3: #b4ebb6; //lightSage
$Green-Light4: #cbe2d1; //lightGrey
$Green-Light6: #aeecbf;
// $Green-Light5: #51d674; //lightishGreen //lightish-green
$Green-Light5: #089e1e; //lightishGreen //lightish-green
// $Green-Dark1: #308a48; //darkishGreen
//add test Primary-Color
$Green-Dark1: #056c11; //darkishGreen
// $Green-Dark2: #145d32; //Green-Dark2
//add test Primary-Color1
$Green-Dark2: #035708; //Green-Dark2
$Green-Dark3: #052d15; //hunter-green
$Green-Light7: #87e891;
$Green-Light8: #69b971;
$Green-Light9: #f2fcf5;

// add test color
$Primary-Color: #056c11;
$Primary-Color1: #1a8d1e;
$Secondary-Color: #035708;
$Secondary-Color1: #089e1e;

// Narenji
$Narenji-Light1: #f9efe4;
$Narenji-Light2: #fed6b0;
$Narenji-Light3: #fdac60;
// $Narenji-Light4: #fd8c20; //tangerine
$Narenji-Light4: #035708; //tangerine
$Narenji-Dark1: #e68c32; //dustyOrange
$Narenji-Dark2: #d6781a;
$Narenji-Dark3: #ca6302;
$Narenji-Dark4: #3d1e01;

// White
$White: #ffffff;

// Grey
$Grey-Light1: #fbfbfb; //white
$Grey-Light2: #f3f3f3; //white-Four
$Grey-Light3: #eeeeee; //white-three //white-Ten
$Grey-Light4: #e9e9e9; //white-Nine //white-Seven
$Grey-Light5: #d5d5d5; //white-Six
$Grey-Dark1: #bdbdbd; //pinkishGrey
$Grey-Dark2: #a2a2a2; //Grey-light
$Grey-Dark3: #888888; //warmGrey //warmGrey-Four
$Grey-Dark4: #757575; //warmGrey-Two //warm-Grey-Two
$Grey-Dark5: #2a2a2a; //black
$Grey-Back: #f6f6f6; //white-Twelve
$Grey-LineBack: #e6e6e6; //Grey-LineBack
$Grey-Disable: #6f8c77;

// Notif
$Notif-Pink: #f8e8e8; //beige-Two
// $Error: #d93434; //pale-red //error
$Red2: #f87171; //Red2
$Notif-Cream: #fde7b4;
$Notif-Yellow: #ffcc01;
$Notif-YellowDark: #c8a000;
$Notif-GreenLight1: #d4f0d4;
// $Notif-GreenLight2: #54bb35; //leafyGreen
$Notif-GreenLight2: #089e1e; //leafyGreen
$Notif-GreenLight3: #42a225;

// Logo
$Logo-Golabi: #d2de00;
$Logo-GreenLight: #49b765;
$Logo-GreenDark: #2b9570;
$Logo-GreenBlue: #117f74;
$Logo-Blue: #017874;

// fonts (set it for font-family)
$Regular: IranYekan-regular;
$Medium: IranYekan-medium;
$Bold: IranYekan-bold;

// Modals variable
$MobileModalContentHeight: calc(100dvh - 52px);
$WebModalContentHeight: calc(90dvh - 80px);

.size64 {
  min-height: 64px;
  padding-top: 8px;
  .input-container {
    height: 38px;
  }

  & label {
    font-size: 10px;
    font-weight: 400;
  }
  & input {
    font-size: 12px;
    font-weight: 400;
    min-height: 38px;
    border-radius: 12px;
  }
  .info {
    height: 18px;
  }
}
.size80 {
  min-height: 80px;
  padding-top: 10px;
  .input-container {
    height: 48px;
  }

  & label {
    font-size: 12px;
    font-weight: 400;
  }
  & input {
    border-radius: 16px;
    min-height: 48px;
    font-size: 14px;
    font-weight: 400;
  }
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  .input-container {
    position: relative;
  }
  .btn-box {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
  }
  .logo {
    top: 50%;
    display: flex;
    align-items: center;
    direction: ltr;

    position: absolute;
    transform: translateY(-50%);
    left: 12px;
  }
  .icons-box {
    top: 50%;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;

    direction: ltr;
    position: absolute;
    transform: translateY(-50%);
    left: 12px;

    &--with-logo {
      left: 34px;
    }
  }
  .info-box {
    display: flex;
    flex-direction: row;
    justify-content: end;
    .info {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      gap: 4px;
      font-size: 12px;
      P {
        margin: 0;
        align-self: normal;
      }
    }
    .counter {
      font-size: 12px;
      font-weight: 400;
      color: $Storm-7;
      text-align: left;
    }
  }
  .error {
    color: $Error-500;
  }
  .success {
    color: $Storm-7;
  }
  .guideline {
    color: $Storm-7;
  }
  & input:disabled {
    border: 1px solid $Storm-3 !important;
    background-color: white !important;
    color: $Storm-3;
  }
  & input:disabled::placeholder {
    color: #cecece;
  }
  & input {
    position: relative;
    border: 1px solid #9ab0bc;
    padding-inline: 20px;
    outline: none;
    width: 100%;
  }
  & label {
    cursor: text;
    color: $Storm-8;
    background-color: transparent;
    padding-inline: 4px;
    position: absolute;
    border-radius: 16px;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
  }
  & input:focus ~ label {
    color: $Storm-8;
    background-color: $White;
    top: -11px;
    right: 0px;
    padding-inline: 5px;
  }
  & input:not([placeholder=""]) ~ label {
    color: $Oil-8;
    background-color: $White;
    top: -11px;
    right: 0px;
    padding-inline: 5px;
  }
  & input:focus {
    border: 1px solid $Oil-9;
    // caret-color: transparent;
  }
}

.error-border {
  & input {
    border-color: $InfraRed-6 !important;
  }
}
.onClear-box {
  position: absolute;
  height: 14px;
  width: 14px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -4px;
  z-index: 101;
}
.ltr {
  .icons-box {
    left: initial;
    right: 12px;
    direction: rtl;
    z-index: 100;
  }
  & input {
    direction: ltr !important;
  }
}
.ltr-with-icons {
  & input ~ label {
    // right: 28px;
    color: #525252;
    background-color: $White;
    padding-inline: 5px;
  }
}

.entered {
  & input ~ label {
    color: #525252;
    background-color: $White;
    top: -11px;
    right: 0px;
    padding-inline: 5px;
  }
  & input:focus {
    caret-color: black;
  }
  // & input ~ span {
  //   color: #3b3b3b;
  // }
}

.with-logo {
  & input {
    padding-left: 40px;
  }
}
// ADDITION CLASSES
.filter-textbox {
  max-width: 50%;
}
